* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
}

.bg {
	height: 100vh;
	background-image: url("bg.jpg");
	background-size: cover;
	object-fit: cover;
	background-position: center;
	position: relative;
}

nav {
	height: 10vh;
	display: flex;
	width: 90%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}

h2 {
	font-size: 1.8rem;
	font-family: 700;
	color: rgb(255, 255, 255);
}

ul {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

ul li {
	list-style: none;
	font-weight: 400;
	font-size: 1.6rem;
	color: white;
}

h3 {
	position: absolute;
	top: 30%;
	left: 50%;
	font-size: 6.4rem;
	font-weight: 500;
	color: white;
	transform: translate(-50%, -30%);
}

.intro {
	position: fixed;
	top: 0%;
	height: 100vh;
	width: 100%;
	background-color: black;
	color: white;
	font-size: 6.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 10vh;
}

.intro-text {
	margin-top: 10vh;
}

.intro p {
	transform: translateY(100%);
	position: relative;
}

.hide {
	height: 12vh;
	background-color: black;
	z-index: 2;
	position: relative;
}

.slider {
	height: 100vh;
	position: fixed;
	top: 0%;
	width: 100%;
	background-color: rgb(30, 85, 51);
	transform: translateY(100%);
}

button {
	display: none;
}

@media screen and (max-width: 768px) {
	.intro,
	h3 {
		font-size: 3.2rem;
	}
	button {
		display: block;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	svg {
		height: 30px;
	}
	ul {
		transform: translateY(-60px);
		width: 100%;
	}
	.add {
		transform: translateY(60px);
	}
}
